@tailwind base;
@tailwind components;
@tailwind utilities;

.course_title {
  line-height: 2.2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.svg-hover:hover{
fill: red;
  width: 20px; 
  height: 30px;
}